.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 29.05px;
}

.card__like-button {
  background: transparent url(../Images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background: url("../Images/like-active.svg") 0 0 no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__delete-button {
  width: 18px;
  height: 19.3px;
  background: transparent url(../Images/Trash.svg) center no-repeat;
  border: none;
  position: absolute;
  top: 26px;
  right: 21px;
  cursor: pointer;
}
