.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 380px) auto;
  column-gap: 10px;
  row-gap: 7px;
}

.profile__edit-button {
  background: transparent url(../Images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  margin-top: 16px;
  margin-right: 12px;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.profile__add-button {
  background: transparent url(../Images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-title-input-error {
  color: blue;
}
.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__image-container {
  position: relative;
  opacity: 1;
}

.profile__image-container:hover {
  opacity: 0.5;
}

.profile__image-container:hover .profile__image-button {
  opacity: 1;
}

.profile__image-button {
  background: url(../Images/Edit\ Button.svg) center no-repeat;
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: -5%;
  opacity: 0;
  background-size: 50px;
}

@media screen and (max-width: 715px) {
  .profile {
    background-color: black;
    flex-direction: column;
  }
  .profile__title {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 22px;
    line-height: 26.63px;
    padding-left: 0;
    max-width: 220px;
    min-width: 200px;
  }

  .profile__info {
    flex-wrap: wrap;
    margin: 30px 0 36px;
    grid-template-columns: auto;
    max-width: 320px;
    align-items: baseline;
    row-gap: 14px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .profile__edit-button {
    align-items: center;
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-right: 0;
  }
  .profile__add-button {
    margin: 0;
    width: 282px;
  }
  .profile__image {
    margin-right: 0;
  }
}
